.learn-container {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f0f6ff, #d9e8ff);
  font-family: "Segoe UI", sans-serif;
  color: #1e3a8a;
}

.learn-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.learn-subtitle {
  font-size: 1rem;
  color: #333;
  margin-bottom: 25px;
}

.analog-clock {
  width: 260px;
  height: 260px;
  border: 4px solid #1e3a8a;
  border-radius: 50%;
  position: relative;
  margin: 30px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Clock numbers */
.clock-number {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #1e3a8a;
  font-weight: bold;
  cursor:default;
}

/* Hands */
.hour-hand,
.minute-hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 3px;
  cursor: pointer;
}

.hour-hand {
  width: 6px;
  height: 70px;
  background-color: #1e3a8a;
}

.minute-hand {
  width: 4px;
  height: 100px;
  background-color: #004aad;
}

.center-dot {
  width: 14px;
  height: 14px;
  background-color: #1e3a8a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.digital-display {
  margin-top: 25px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #004aad;
}

.instruction {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
}
